body,
html {
  overscroll-behavior: none;
  text-wrap-mode: wrap;
  background-color: rgb(255, 250, 244);
  font-family: "work sans", sans-serif;
  font-size: 13pt;
  background-color: #080808;
  color: #ffffff;
}
main,
header,
footer {
  margin: 25%;
  margin-top: 5px;
  margin-bottom: 5%;
}
main h2 {
  margin-top: 60px;
}
main {
  border-style: hidden;
  border-bottom: solid 2px;
  border-top: solid 2px;
  padding-bottom: 30px;
}

.pageTitle {
  text-align: center;
  font-family: monospace;
  padding: 5% 0% 5% 0%;
  font-size: 30pt;
}

.flex {
  display: grid;
  gap: 5%;
}
.flexItem {
  background-color: rgb(141, 141, 182);
  padding: 20px;
}

a {
  color: rgb(138, 168, 132);
}

@media (max-width: 768px) {
  body,
  html {
    font-size: 13pt;
  }
  main,
  header {
    margin: 2%;
  }
}
